@model IEnumerable<PopcornWebApp.Models.AudioTypes>

@{
    ViewData["Title"] = "Index";
}

<h1>Audio Types</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
